{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>Panagea | Premium site template for travel agencies, hotels and restaurant listing.</title>

<!-- Favicons-->

<link rel="shortcut icon" href="{% static 'frontend/img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'frontend/img/apple-touch-icon-57x57-precomposed.png' %}">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'frontend/img/apple-touch-icon-72x72-precomposed.png' %}">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'frontend/img/apple-touch-icon-114x114-precomposed.png' %}">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'frontend/img/apple-touch-icon-144x144-precomposed.png' %}">

<!-- GOOGLE WEB FONT -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

<!-- BASE CSS -->
<link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/vendors.css' %}" rel="stylesheet">

<!-- YOUR CUSTOM CSS -->
<link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">

</head>

<body id="login_bg">
	
	<nav id="menu" class="fake_menu"></nav>
	
	<!-- <div id="preloader">
		<div data-loader="circle-side"></div>
	</div> -->
	<!-- End Preload -->
	
	<div id="login">
		<aside>
			<figure>
				<a href="{%url 'index' %}"><img src="{% static 'frontend/img/logo_sticky.png' %}" width="155" height="36" data-retina="true" alt="" class="logo_sticky"></a>
			</figure>
			  <form class="form" method="POST">
				{% if messages %}
					{% for mes in messages%}
						<div class="alert {{ mes.tags }}">{{ mes }}</div>
					{% endfor %}
			  	{% endif %}
				<div class="access_social">
					<a href="#0" class="social_bt facebook">Login with Facebook</a>
					<a href="#0" class="social_bt google">Login with Google</a>
					<a href="#0" class="social_bt linkedin">Login with Linkedin</a>
				</div>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<form method="post" style="margin-left: 300px; margin-top: 80px;">
                        {% csrf_token %}
                        {{ pass_key.as_p }}
                            <input type="submit" value="Change Password" class="btn btn-success">
                    </form>
                </div>
			<div class="copy">© 2020 Panagea</div>
		</aside>
	</div>
	<!-- /login -->
		
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'frontend/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'frontend/js/common_scripts.js' %}"></script>
    <script src="{% static 'frontend/js/main.js' %}"></script>
	<script src="{% static 'frontend/assets/validate.js' %}"></script>	
  
</body>
</html>